
  <div class="col-md-10">
     <ul class="nav nav-tabs" role="tablist">
       <li class="active"><a href="#">Roster</a></li>
       <li><a href="#">Top Stories </a></li>
       <li><a href="#">Season Information</a></li>
       <li><a href="#">Schedule</a></li>
       <li><a href="#">Video</a></li>
       <li><a href="#">Photography</a></li>
     </ul>
   </div>

   <div class="col-md-8 col-md-offset-1 extramargin">

  <%= image_tag "unc/#{@team.team_pic}" , :alt => "team_pic", :class => "img-responsive" %>
  <p class="lead text-center"> UNC <%= @team.team_name %> 2012-2013 </p>
   
   </div>



   <div class="col-md-12">

   <div class="table-responsive">

   <table class="table table-bordered">
   
   <tr>
           <th class="tableheader">Name</th>
           <th class="tableheader">Year</th>
           <th class="tableheader">Hometown</th>
   </tr>

   <% @players.each do |player| %>
       <tr>
           <td><%= link_to player.player_name , player_path(player.id) %></td>
           <td><%= player.player_year%></td>
           <td><%= player.player_hometown%></td>
       </tr>
       <% end %>
   </table>
   
 </div>




   <div class="col-md-12">
     <h3> Head Coach </h3>
     <p><%= @team.coach  %> </p>
     <h3> Assistant Coach </h3>
    <p> <%= @team.assistant_coach %> </p> 
   </div>

 </div>
 </div>