
   <div class="col-md-10">
       <ul class="nav nav-tabs" role="tablist">
         <li class="active"><a href="#">At a Glance</a></li>
         <li><a href="#">Blog </a></li>
         <li><a href="#">Videos/Photos</a></li>
       </ul>
     </div>



    <div class="col-md-2 extramargin">
      
   <%= image_tag "unc/#{@player.player_pic}" , :alt => "player_pic", :class => "img-responsive" %>
    </div>


    <div class="col-md-8 extramargin">

      <div class="table-responsive">
     <table class="table table-bordered">
                  <tr>
                 <th class="playertableheading" colspan="2"> <h1 class="playertablename"> <%= @player.player_name %></h1> </th>
                 </tr>
                 <tr>
                 <td colspan="2"> </td>
                 </tr>
                
                 <tr>
                 <td> <h4> Year </h4></td>
                 <td><p><%= @player.player_year %> </p></td>
                 </tr>
                
                 <tr>
                 <td> <h4> Hometown </h4> </td>
                 <td> <p><%= @player.player_hometown %> </p></td>
                 </tr>

                  <tr>
                 <td> <h4> Personal Information </h4> </td>
                 <td> <p><%= @bio.personal_info  %>  </p></td>
                 </tr>

                  <tr>
                 <td> <h4> Game Play </h4> </td>
                 <td> <p><%= @bio.current_year  %>  </p></td>
                 </tr>

                  <tr>
                 <td> <h4> Additional Information </h4> </td>
                 <td> <p><%= @bio.more_info %>  </p></td>
                 </tr>

                 </table>
</div>

    </div>

       
    
